@import url("header.css");
@import url("welcome-block.css");
@import url("mission.css");
@import url("history.css");
@import url("team.css");
@import url("footer.css");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
	font-family: "Outfit", sans-serif;
    color: #333333;
}

body {
	margin: 0 auto;
    max-width: 1920px;
    background-color: #FFF5F0;
}

/* Мобильная версия */
@media only screen and (max-width: 768px) {
    body {
        max-width:768px;
        margin:0 auto;
    }
}