.team {
    display: grid;
    gap: 100px;
    margin: 100px 162px;
}

.team__title {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 19px;
}

.team__title-button {
    margin: auto;
    padding: 10px 20px;
    border: 2px solid #262626;
    border-radius: 8px;
    width: 275px;
    background-color: #fff;
    font-size: 18px;
}

.team__title-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #1A1A1A;
}

.team__title-text {
    font-size: 20px;
}

.team__block {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

.team__block-item {
    border: 2px solid #262626;
    border-radius: 12px;
    background-color: #fff;
    filter: drop-shadow(5px 5px 0 #262626);
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    width: 760px;
}

.team__block-item-name {
    display: flex;
    gap: 20px;
    align-items: center;
}

.team__block-item-name-title {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: auto;
}

.team__block-item-name-title img {
    width: 100px;
}

.team__block-item-name-title h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #1A1A1A;
}

.team__block-item-name-email {
    width: 56px;
    height: 56px;
    background-color: #FFDECC;
    border: 2px solid #262626;
    border-radius: 8px;
    padding: 15px;
}

.team__block-item-name-email img {
    width: 24px;
}

.team__block-item-text {
    display: grid;
    gap: 20px;
    padding: 30px;
    background-color: #FFF5F0;
    border: 2px solid #262626;
    border-radius: 12px;
}

.team__block-item-text h2 {
    font-weight: 600;
    font-size: 24px;
}

.team__block-item-text div {
    font-size: 20px;
}

/* Мобильная версия */
@media only screen and (max-width: 768px) {
    .team {
        display: grid;
        gap: 50px;
        margin: 100px 16px;
    }

    .team__title {
        display: grid;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }

    .team__title-button {
        margin: auto;
        padding: 8px 14px;
        border: 2px solid #262626;
        border-radius: 8px;
        width: 210px;
        background-color: #fff;
        font-size: 14px;
    }

    .team__title-title {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 38px;
        color: #1A1A1A;
    }

    .team__title-text {
        font-size: 16px;
    }

    .team__block {
        display: grid;
        gap: 40px;
    }

    .team__block-item {
        border: 2px solid #262626;
        border-radius: 12px;
        background-color: #fff;
        filter: drop-shadow(5px 5px 0 #262626);
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 24px;
        width: auto;
    }

    .team__block-item-name {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .team__block-item-name-title {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-right: auto;
    }

    .team__block-item-name-title img {
        width: 60px;
    }

    .team__block-item-name-title h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: #1A1A1A;
    }

    .team__block-item-name-email {
        width: 48px;
        height: 48px;
        background-color: #FFDECC;
        border: 2px solid #262626;
        border-radius: 8px;
        padding: 14px;
    }

    .team__block-item-name-email img {
        width: 20px;
    }

    .team__block-item-text {
        display: grid;
        gap: 12px;
        padding: 20px;
        background-color: #FFF5F0;
        border: 2px solid #262626;
        border-radius: 12px;
    }

    .team__block-item-text h2 {
        font-weight: 600;
        font-size: 20px;
    }

    .team__block-item-text div {
        font-size: 16px;
    }
}